.fee-look-up{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 3rem 2rem;
    flex-flow: column;

    form{

        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-gap: 1rem;
        }
        width: 80%;

        .my-custom-button{
            padding: 0.5rem;
            margin: 1rem 1rem;
        }
        
    }


}