.spinner{
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.356);
    
}

.spinner.show{
    display: flex;
}


