.verify-page{
    
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    form{

        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-gap: 1rem;
        }

        width: 80%;

        .my-custom-button{
            padding: 0.5rem;
            margin: 1rem 0;
        }

        .grid-three{
    
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1rem;
        
    }
        
}
}




